
<div class="card-body">
  <h3 class="box-title m-b-0">{{user.nombre}} {{user.apellido}}</h3> <small>{{user.email}}</small>
  <hr>
  <small class="text-muted">Firstname </small> <h6>{{user.nombre}}</h6>
  <small class="text-muted p-t-30 db">Lastname </small> <h6>{{user.apellido}}</h6>
  <small class="text-muted">Phone </small> <h6>{{user.tel}}</h6>
  <small class="text-muted p-t-30 db">Email</small> <h6>{{user.email}}</h6>

  <small class="text-muted p-t-30 db">Social Profile</small>
  <br>
  <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
  <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
  <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>

</div>
